.mobile-nav-toggle i{
  color: hsl(0, 0%, 100%);
}
.sorry-section .sorry figure img{
  width: 280px;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .how-calculate-sec ul{
    flex-wrap: wrap;
    padding-left: 0;
  }
  .how-calculate-sec ul li{
    max-width: 400px;
    width: 100%;
    margin-bottom: 30px;
  }
  .how-calculate-sec ul li:last-child{
    margin-bottom: 0;
  }
  .how-calculate-sec ul li+li:after{
    display: none;
  }
  .intro-img p{
    font-size: 20px;
    line-height: 30px;
  }
  .less650{
	font-size: 16px;
	left:0;
  }
	.less800{
	  font-size:16px;
	}
	.less900{
	  font-size:16px;
	  right:0;
	}
	.less700{
	 font-size:16px;
	}

}
@media only screen and (max-width: 580px) {
  .address {
    padding-left: 100px;
  }
  #footer .address:after{
    left: 25px;
  }

}
@media only screen and (max-width: 480px) {
  .how-calculate-sec{
    margin-top: 60px;
  }
  .intro-img p{
    font-size: 18px;
  }
  #intro{
    background: hsl(226, 82%, 55%);
  }
  #testimonials .testimonial-item p{
    line-height: 30px;
  }
  #testimonials .testimonial-item ul li{
    line-height: 30px;
    padding-bottom: 5px;
  }
  .chart-gauge svg{
	  height:192px !important;
  }
  .less650{
	  bottom:0;
  }
  .less900{
	  bottom:0;
  }

}
@media only screen and (max-width: 424px) {
  .intro-img p br{
    display: none;
  }

}
@media only screen and (max-width: 342px) {
  intro-img p {
    font-size: 17px;
    line-height: 24;
}
}
