@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-Bold.otf') format('opentype'),
    url('../fonts/DaxOT-Bold.woff') format('woff'),
    url('../fonts/DaxOT-Bold.ttf') format('truetype'),
    url('../fonts/DaxOT-Bold.svg#DaxOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-CondRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-CondRegular.otf') format('opentype'),
    url('../fonts/DaxOT-CondRegular.woff') format('woff'),
    url('../fonts/DaxOT-CondRegular.ttf') format('truetype'),
    url('../fonts/DaxOT-CondRegular.svg#DaxOT-CondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}/*
  Theme Name: NewBiz
  Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-Bold.otf') format('opentype'),
    url('../fonts/DaxOT-Bold.woff') format('woff'),
    url('../fonts/DaxOT-Bold.ttf') format('truetype'),
    url('../fonts/DaxOT-Bold.svg#DaxOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DaxOT';
  src: url('../fonts/DaxOT-CondRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DaxOT-CondRegular.otf') format('opentype'),
    url('../fonts/DaxOT-CondRegular.woff') format('woff'),
    url('../fonts/DaxOT-CondRegular.ttf') format('truetype'),
    url('../fonts/DaxOT-CondRegular.svg#DaxOT-CondRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  color: #444;
  font-family: "DaxOT";
  font-weight: normal;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DaxOT";
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  /* background: #fff; */
  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); */
}

#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
  background: #2e5bea;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  position: relative;
  background: url("../img/header-bg.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 120px 0 120px 0;
}

#intro .intro-img {
  width: 50%;
  float: right;
  position: relative;
}
.intro-img p{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 90%;
  height: 130px;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}

#intro .intro-info {
  width: 50%;
  float: left;
}

#intro .intro-info h2 {
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
}
#intro .intro-info p {
  font-size: 26px;
  color: #C5D0E6;
  letter-spacing: 0;
  line-height: 34px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 32px;
  color: #454F5B;
  text-align: center;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;
}
.section-header h3:after{
  content: '';
  width: 100px;
  height: 1px;
  background: #C4CDD5;
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  bottom: -15px;
}
.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}


.get_score{}
.get_score a{
	background: #ffffff;
    border: 0;
    border-radius: 3px;
	color:#2F5BEA;
    padding: 10px 30px;
	font-size:20px;
	text-decoration:none;
	transition:all 0.7s;
}
.get_score a:hover{
	background:#6ad9fe;
	color:#fff;
}



/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}
/* How do we calculate your score section
--------------------------------*/
.how-calculate-sec{
  padding-top: 60px;
  padding-bottom: 60px;
}
.how-calculate-sec ul{
  margin-top: 30px;
}
.how-calculate-sec ul li{
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0 8px 20px 0 rgba(224,224,224,0.50);
  border-radius: 3px;
  margin: 0 15px;
  padding: 30px 15px 15px;
  text-align: center;
  max-width: 250px;
  width: 250px;
  position: relative;
}
.how-calculate-sec ul li figure{
  min-height: 120px;
}
.how-calculate-sec ul li+li:after{
  content: "";
  background: url(../img/arrow.svg) no-repeat center center #ffffff;
  width: 40px;
  height: 40px;
  border: 1px solid #E0E2E4;
  border-radius: 30px;
  position: absolute;
  padding: 10px;
  background-size: 20px;
  bottom: 50px;
  left: -35px;
}
.how-calculate-sec ul li figure img{
  vertical-align: middle;
}
.how-calculate-sec ul li h4{
  font-size: 16px;
  color: #747474;
  text-align: center;
  line-height: 35px;
}
/* About Us Section
--------------------------------*/

#about {
  padding: 60px 0;
  background: #F6F8F9 url(../img/cibil.svg) no-repeat center bottom;
  background-size: 70%;
}

#about .about-container .background {
  margin: 20px 0;
}

.form-error{
  color: #f54c8f;
  font-size: 12px;
}
#about .personal-information .form-group{
  width: 100%;
  max-width: 350px;
}
#about  .form-control{
  border: 0;
  border-bottom: 2px solid #A09D9E;
  background: none;
  border-radius: 0;
  padding-left: 0;
  margin-bottom: 20px;
}
#about .form-control:focus, #about .form-control:hover, #about .form-control:visited{
  outline: 0;
  box-shadow: initial;
}
#about .pancard{
  text-transform: uppercase;
}
/* .help-block.form-error{
  display: none;
} */
.checkbox+ .help-block.form-error{
  display: block;
}
.error-absolute{
  position: relative;
  padding-top: 10px;
}
.error-absolute .help-block.form-error{
  position: absolute;
  bottom: -20px;
  left: 15px;
}
#about .has-success .form-control{
  border-color: #7BB63B;
}
#about .has-error .radio label{
  color: #F54C8F;
}
#about .has-success .radio label{
  color: #7BB63B;
}
#about .form-group.has-error .form-control{
  background: url(../img/cross.svg) no-repeat right center;
  background-size: 15px;
}
#about .form-group.has-success .form-control{
  background: url(../img/sign.svg) no-repeat right center;
  background-size: 15px;
}
#about .control-label{
  opacity: 0.9;
  font-size: 18px;
  color: #4B4B4B;
  letter-spacing: 0.95px;
  margin-bottom: 0;
  font-size: 15px;
}
.personal-information{
  margin-bottom: 30px;
}
.personal-information h3{
  font-size: 22px;
  color: #454F5B;
}
.contact-information h3{
  font-size: 22px;
  color: #454F5B;
}
.checkbox input[type=checkbox]{

}
.submitbtn{
  background: #2F5BEA;
  border:0;
  box-shadow: 0 8px 20px 0 rgba(224,224,224,0.50);
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 30px;
}
.submitbtn:hover{
  color: #fff;
}
.otp{
  text-align: center;
  margin-top: 60px;
}
.otpbox {
  margin: 60px auto 0;
}
.otpbox fieldset{
  margin-top: 15px;
}
.otpbox .otpinput{
  width: 40px;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 8px 20px 0 rgba(224,224,224,0.50);
  border-radius: 3px;
}
.otpbox .otpinput.error{
  border-color: rgb(245, 76, 143);
}
.ecorrect{
  padding-top: 15px;
  margin-bottom: 15px;
}
.resetnotp{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 45px;
}
.resetnotp a{
  font-size: 18px;
  color: #B1B1B1;
  letter-spacing: -0.41px;
  text-align: center;
}
.resetnotp a.resendotp{
  color: #2F5BEA;
}
.otpbox .otpinput:focus,.otpbox .otpinput:visited,.otpbox .otpinput:hover{
  outline: 0;
}
.varification-questions{
  padding-bottom: 200px;
}
.control-question{
  font-size: 18px;
  color: rgba(12,12,12,0.5);
  letter-spacing: 0.95px;
}
.varification-questions{
  font-size: 20px;
  color: #7F7F7F;
}
.sorry-section .sorry{
  padding: 60px 0;
}
.sorry-data h4{
  font-size: 22px;
  color: #454F5B;
  text-align: center;
  padding-bottom: 15px;
}
.sorry-data a{
  font-size: 18px;
  color: #2F5BEA;
  letter-spacing: -0.41px;
  text-align: center;
}
.chart-gauge {
  width: 600px;
  max-width: 100%;
  margin: 10px auto;
  background: url(../img/score-new.svg) no-repeat;
  background-size: 100%;
  position: relative;
}
.chart-gauge svg{
  height: 300px !important;
}

.chart-color1,.chart-color2,.chart-color3,.chart-color4 {
  fill: #E93E57;
  opacity: 0
}
.chart-color5 {
  fill: #F5A623;
  opacity: 0
}
.chart-color6,.chart-color7 {
  fill: #7ED321;
  opacity: 0
}
.chart-color8,.chart-color9,.chart-color10,.chart-color11 {
  fill: #417505;
  opacity: 0
}
.needle,
.needle-center {
  fill: #506883;
}

.prose {
  text-align: center;
  font-family: sans-serif;
  color: #ababab;
}
.cscore{
  position: absolute;
}
.final-score{
  bottom: -70px;
  width: 100%;
  text-align: center;
}
.final-score span{
  font-size: 32px;
}
.less650{
  bottom: 15%;
  left: -22%;
  font-weight: 400;
  font-size: 24px;
  color: #B8B8B8;
}
.less700{
  width: 100%;
  text-align: center;
  top: -12%;
  font-weight: 400;
  font-size: 24px;
  color: #B8B8B8;
}
.less800{
  right: 18%;
  font-weight: 400;
  font-size: 24px;
  color: #B8B8B8;
}
.less900{
  bottom: 13%;
  right: -8%;
  font-weight: 400;
  font-size: 24px;
  color: #B8B8B8;
}

/* Pre-approved offers Section
--------------------------------*/
.preapproved-section{
  padding: 60px 0;
}
.nav-tabs{
  border-bottom: 0;
}
.nav-tabs .nav-item{
  padding: 8px 16px;
}
.nav-tabs .nav-link{
  border: 0;
  padding: 0;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-bottom: 3px solid #ff9333;
}
.tab-content{
  padding-top: 30px;
}

.tab-content .card{
  border: 0;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.14);
  border-radius: 10px;
  margin-bottom: 30px;
}
.tab-content .card .card-head{
  background: #105578;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 30px;
}
.tab-content .card .card-head h5{
  color: #ffffff;
  font-size: 18px;
  margin: 0;
}
.tab-content .card .card-head p{
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}
.tab-content .card .card-body{
  background: #f7f7f7;
  padding: 30px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tab-content .card .card-body ul{
  padding-left: 0;
}
.tab-content .card .card-body ul li{
  font-size: 15px;
  padding-left: 30px;
  position: relative;
  list-style: none;
  padding-bottom: 5px;
}
.tab-content .card .card-body ul li:before {
    content: "\f129";
    font-family: FontAwesome;
    left:0px;
    position:absolute;
    top:0;
    font-size: 12px;
    border: 1px solid #848484;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
 }
.tab-content .card .card-body ul li a{
  color: #848484;
}
.applynow{
  color: #ffffff;
  background: #ff9333;
  padding: 8px 30px;
}
.applynow:hover{
  color: #ffffff;
  box-shadow: initial;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
  background: #2F5BEA;
}

#testimonials .section-header {
  margin-bottom: 40px;
}
.faqs-section .section-header h3{
  color: #ffffff;
}
.faqs-section .section-header h3:after{
  background: #ffffff;
  width: 70px;
}
#testimonials .testimonial-item {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 30px 60px;
}
#testimonials .testimonial-item ul li{
  font-size: 20px;
  padding-bottom: 10px;
}

#testimonials .testimonial-item h3 {
  margin: 10px 0 5px 0;
  font-size: 30px;
  color: #2C2E30;
  letter-spacing: 0;
  line-height: 34px;
}


#testimonials .testimonial-item p {
  font-size: 20px;
  color: #54565A;
  letter-spacing: 0;
  line-height: 36px;
}
 #testimonials .owl-carousel, #testimonials  .owl-carousel .owl-item{
   background: #ffffff;
   border-radius: 10px;
}
.testimonials-carousel .owl-nav{
  position: absolute;
  bottom: 25px;
  width: 140px;
  left: 0;
  right: 0;
  margin: auto;
}
.testimonials-carousel .owl-nav button{
  box-shadow: 0 2px 34px 0 rgba(0,0,0,0.21);
  background: #ffffff !important;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 10px;
  color: #2F5BEA !important;
  font-size: 24px!important;
}
.testimonials-carousel .owl-nav button:hover, .testimonials-carousel .owl-nav button:focus, .testimonials-carousel .owl-nav button:visited{
  outline: none;
}


/* Team Section
--------------------------------*/

#team {
  background: #F6F8F9 url(../img/cibil.svg) no-repeat center bottom;
  padding: 60px 0;
  background-size: 75%;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.articles-section .articles-item{
  background: #FFFFFF;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.14);
  border-radius: 5px;
}
.articles-section .articles-item h3{
  font-size: 24px;
  color: #2C2E30;
  letter-spacing: 0;
  line-height: 34px;
}
.articles-section .articles-item .article{
  padding: 15px;
  position: relative;
  min-height: 200px;
}
.articles-section .articles-item .article a{
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: #2C2E30;
  letter-spacing: 0;
  text-align: center;
  border-bottom: 2px solid #2F5BEA;
}
.articles-section .articles-item .article a:after{
    content: "\f178";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    right:-30px;
    position:absolute;
    top:0;
 }

.articles-carousel .owl-nav{
  width: 140px;
  margin: 30px auto;
}
.articles-carousel .owl-nav button{
  box-shadow: 0 2px 34px 0 rgba(0,0,0,0.21);
  background: #ffffff !important;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 10px;
  color: #2F5BEA !important;
  font-size: 24px!important;
}
.articles-carousel .owl-nav button:hover, .articles-carousel .owl-nav button:focus, .articles-carousel .owl-nav button:visited{
  outline: none;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #434343;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #434343;
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #606060;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 0px 0 5px;
  position: relative;
  padding-left: 20px;
}
#footer .footer-top .footer-links ul li a:before {
    content: "\f054";
    font-family: FontAwesome;
    left: 0px;
    position:absolute;
    top:0;
    color: #448AFF;
    transition: all .5s;
 }
#footer .footer-top .footer-links ul li a:hover:before {
    transition: all .5s;
    left: 8px;
 }
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #448AFF;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .application-form {
  padding-top: 30px;
  border-bottom: 1px solid #606060;
}
#footer .application-form ul{
  padding-left: 0;
  margin-bottom: 30px;
}
#footer .application-form ul li{
  list-style: none;
  position: relative;
  padding: 0 5px;
  font-weight: 700;
}
#footer .application-form ul li+li+li:after{
  content: '';
  position: absolute;
  height: 12px;
  width: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: #757575;
}
#footer .application-form ul li a{
  color: #757575;
  font-size: 13px;
  transition: all .6s;
}
#footer .application-form ul li a:hover{
  color: #f2f2f2;
  transition: all .6s;
}
#footer .application{
  padding: 15px 0;
  border-bottom: 1px solid #606060;
}
#footer .application+.application{
  padding-bottom: 30px;
}
#footer .application ul{
  padding-left: 0;
  margin-bottom: 0;
}
#footer .application ul li{
  list-style: none;
  position: relative;
  padding: 5px 8px;

}
#footer .application ul li a{
  color: #ffffff;
}
#footer .application ul li+li:after{
  content: '';
  position: absolute;
  height: 14px;
  width: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: #ffffff;
}
.app-download{
  padding-left: 0;
}
.app-download li{
  list-style: none;
}
.app-download li:after{
  display: none;
}
.app-download li a .fa{
  font-size: 60px;
  color: #4489fd;
}
.address{
  padding-left: 150px;
  margin-top: 60px;
}
#footer .address:after{
  content: "\f041";
  font-family: FontAwesome;
  left: 0px;
  position:absolute;
  top: 80px;
  font-size: 80px;
  color: #448AFF;
}
#footer .address h5{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
#footer .address p{
  font-size: 12px;
  color: #969696;
  margin-bottom: 15px;
}
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {

  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  #testimonials .testimonial-item ul li{
	  text-align:left;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }
  #testimonials .testimonial-item ul{
	  padding-left:20px;
  }
  #testimonials .testimonial-item ul li{
	  text-align:left;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}
